.card-title, .card-text{
	text-align: center;
}

.card-price {
	position: absolute;
	bottom: 1px;
	left: 10px;
}

.card-quantity{
	position: absolute;
	bottom:1px;
	left:100px;
}

.btn{
	display: grid;
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 30px;
	height: 30px;
	padding: 1px;
	align-content: center;
}